.langButton {
    border: none !important;
    white-space: nowrap;
    border-bottom: 1px solid #3c3c3c !important;
    padding-bottom: .5rem;
    background: transparent ;
    width: auto !important;
    background-image: none;
    display: flex;
    align-items: center;
    transition:  .3s ;
    cursor: pointer;
        &:hover {
            .langLabel {
                color: #f0f0f0 !important;
            }
            .langIcon {
                fill: #f0f0f0;
            }
        }
}


.langLabel {
    color: #3c3c3c !important;
    transition: .5s ;
}
.langIcon {
    width: 20px;
    margin-inline: 1rem;
    border-radius: 50px;
    transition: .5s;
}
.langOptions {
    background-color: #1e1e1e !important;
    transition: .3s;
}
.langOptionsBtn {
    color: #3c3c3c !important;
    border-bottom: 1px solid #3c3c3c !important;

    transition: .3s;
    &:hover {
        color: #f0f0f0 !important;
        background-color: transparent !important;
    }
}