@config "../tailwind.config.js";
@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

.char {
  color: var(--default-color);
  border-left: 2px solid transparent;
  transition: 0.2s;
}

.current {
  border-left: 2px solid #eeeeee;
}
.current_dark {
  border-left: 2px solid #1e1e1e;
}

.correct {
  background: #4caf4f5f;
  color: #4caf50;
}

.incorrect {
  color: #f44336;
  background-color: #f4433660;
}
